.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 69px;
  border-bottom: 5px solid #757575;
  z-index: 99;
}

.logo {
  display: block;
}

.logo .text-logo {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  color: #ac6cff;
}
