.container {
  display: flex;
  justify-content: center;
}

.info {
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  background: #282828;
  width: 60vh;
  border: 1px solid #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.weather-icon {
  height: auto;
  width: 170px;
}

.details {
  padding: 10px 20px;
}
